# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# EXPO_PUBLIC_SUPABASE_URL: Supabase Project REST URL
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co

# EXPO_PUBLIC_SUPABASE_ANON_KEY: Supabase Public Anonymous API Key
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

